.cart{
    display: flex;
    border: 2px solid #fff;
    border-radius: 10%;
    padding: 0.4rem;
    margin-right: 1rem;
    text-decoration: none;
    color: #000;
}

.cart-focus {
    transition: 300ms;
}
.cart-focus:hover {
    transform: scale(1.1);
    border-color: #000;
}
#cartCounter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}