.counterContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 25% 0 25%;
    padding: 1rem 0 1rem 0;
    border-radius: 5px;
}
.counterContainer p {
    display: flex;
    
    padding: 1rem 1rem;
    background-color: rgb(205, 202, 236);
    border-radius: 5px;
    width: 50%;
    justify-content: center;
}

.counterBtn{
    background-color:rgb(205, 202, 236) ;
    margin: 1rem 2rem 1rem 2rem;
}